

    <div class="floating-bar">
        <button id="sidebarToggle" aria-label="Tampilkan/ Sembunyikan Sidebar" class="sidebar-toggle">☰</button>
        <div class="sidebar-floating-logo">
            <div class="dev-notif-toggle-wrapper">
                <button id="sidebar-notif-toggle" class="dev-notif-toggle" aria-label="Toggle Notification">🔔</button>
                <span id="sidebar-notif-counter" class="notification-counter"></span>
            </div>
            <span>AFANLY</span>
            <img style="margin-right: 25px;" src="img/Logo_AFANLY.png" alt="Logo AFANLY">
        </div>
    </div>
        <header>
            <nav class="navbar">
                <div class="logo">
                    <img src="img/Logo_AFANLY.png" alt="Logo AFANLY">
                    AFANLY
                </div>
                <div class="dev-notif-toggle-wrapper">
                    <button id="toggle-notif" class="dev-notif-toggle">🔔</button>
                    <span id="navbar-notif-counter" class="notification-counter"></span>
                </div>
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#contact">Kontak</a></li>
                    <li><a href="toko.html" target="_blank" rel="noopener noreferrer">Toko Kami</a></li>
                </ul>
                <div class="dark-mode-toggle" id="darkModeToggle" role="switch" aria-checked="false">
                    <span class="slider">
                        <span class="sun-icon">☀️</span>
                        <span class="moon-icon">🌙</span>
                    </span>
                    <span class="mode-text">Mode Cerah</span>
                </div>
            </nav>
        </header>